.myDonaught{
    background-color:#f7f7f7;
}
.myDonaughtCard{
    max-width: 99%;
    height: 60vh !important;
    padding:10px;
    margin-left: 5px;
    margin-top: 10px;
    background-color:#f7f7f7 !important;
}

 