.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);

  
}
.fa-minus-square,
.fa-plus-square{
    font-size: 180%;
   
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}