.root{
    max-Width: 1000px;
    max-height: 920px;
    border: black solid 1px;

}
.shortInput{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
   
}