@import url('https://fonts.googleapis.com/css?family=Philosopher|Shadows+Into+Light&display=swap');

.nav-bg{
background-color: #f2f3f7;
-webkit-box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.2);
-moz-box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.2);
box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.2);
}

.logo{
 margin-right: 10px;
}

.nav-content{
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    color: #000000;
}

.nav-content:hover{
  color: sienna;
  transition-duration: 0.5s;
}




