.card-input{
    width: 300px;
    /* border: solid 1px black; */
}

.myForm{
    width: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* .MuiPaper-root {
    width: 100%!important;
} */

/* .Checkout-paper-9{
    width: 100%!important;
} */