.cart-item-container{
        border: 1px solid black;

}

/* .ShoppingCartIcon{
  color: #7a7e85;
} */

#quantity{
    
}

.cart_img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.myTable{
    width: 30px;
  
}

.icon{
    cursor: pointer;
}

.myLink:hover{
    text-decoration: none;
}