html, body {

    height: 100%;
    
    padding: 0;
    
    margin: 0;
    
    }
/*     
    div {
    
    height: 100%;
    
    padding: 0;
    
    margin: 0;
    
    } */

  .gradient{
    height: 100%;
    background-image: linear-gradient(red, yellow);
}
 
